@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
@plugin 'daisyui';

@layer base {
  body {
    @apply bg-[#F5F5F5] text-gray-900 font-medium;
  }
}

@theme {
  --font-manrope: "Manrope", sans-serif;
}
